@tailwind base;
@tailwind components;
@tailwind utilities;

.InfoHeading {
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;*/
    font-size: 2.5rem;
}

.inHeadingAniv {
    margin-top: 5vh;
}

.InfoAniv {
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;*/
    font-size: 1.1rem;
}
