@tailwind base;
@tailwind components;
@tailwind utilities;

.InfoHeading {
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;*/
    font-size: 1.5rem;
}

.inHeadingAniv {
    margin-top: 5vh;
}

.InfoAniv {
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;*/
    font-size: 1.1rem;
}

.link {
    color: blue;
    text-decoration: underline;
}

.tyButton {
    background-color: #FDDA4E;
    border: 2px solid #FDDA4E;
    border-radius: 25px;
    /*color: #5D8AC3;*/
    padding: 2px 4px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.1rem;
    /*font-family: 'Pacifico', serif;*/
}
.tyButton:hover {
    background-color: #FDDA2D;
    border: 2px solid white;
}
